* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
.task__Indicator{
  background-color: red;
}
.center__Text{
  text-align: center;
}
.new__Worklogs__Wrapper__Container {
  width: 100%;
}
.new__Worklogs__Wrapper__Container .title__Navigation__Bar__Container {
  width: 100% !important;
}


@media screen and (min-width: 992px) {
  .group__Lead__User__Logs {
    width: 84%;
    margin: 2rem auto;
  } 
  .new__Worklogs__Wrapper__Container {
    width: 80%;
    margin: 0 auto;
  }
}